.THIS #sfdc_username_container {
	margin-bottom: 10px;
	padding: var(--slds-g-spacing-3, 12px);
	background-color: var(--slds-g-color-surface-1, white);
	border: var(--slds-g-sizing-border-1, 1px) solid var(--slds-g-color-border-1, #ccc);
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.THIS #sfdc_user {
	float: left;
	width: 23px;
	height: 25px;
	padding-top: 1px;
	padding-left: 2px;
	margin: 0px;
}

.THIS .login-icon {
	color: var(--slds-g-color-neutral-base-80, #ccc);
	font-size: 22px;
}

.THIS button.sfdc_button {
	width: 100%;
	margin-top: 15px;
	margin-bottom: 5px;
	color: var(--slds-g-color-on-accent-1, #fff);
	background-color: var(--slds-g-color-accent-1, #0070d2);
	border-color: var(--slds-g-color-border-accent-1, #357ebd);
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	background-image: none;
	border: var(--slds-g-sizing-border-1, 1px) solid transparent;
	white-space: nowrap;
	padding: 10px var(--slds-g-spacing-3, 12px);
	font-size: var(--slds-g-font-scale-2, 16px);
	font-family: 'Open Sans', sans-serif;
	font-weight: var(--slds-g-font-weight-3, 300);
	line-height: 1.42857143;
	border-radius: 2px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

.THIS button:hover {
	background-color: var(--slds-g-color-accent-1, #3276b1);
	border-color: var(--slds-g-color-border-accent-2, #285e8e);
	cursor: pointer;
}

.THIS input {
	margin-left: 10px;
	margin-top: 3px;
	border: 0px solid transparent;
	width: 70%;
	-webkit-appearance: none;
	font-size: var(--slds-g-font-scale-1, 14px);
}

.THIS #error {
	text-align: center;
	color: var(--slds-g-color-palette-red-50, #ff0000);
}

.THIS a {
	color: var(--slds-g-color-on-accent-1, white);
	text-decoration: none;
}
.THIS a:hover {
	color: var(--slds-g-color-on-accent-1, white);
	text-decoration: none;
}
